/* Configuracion a nivel general */

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
/* Header y barra de navegacion */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.header__img {
  height: 45px;
  width: 70px;
  margin-left: 10px;
}
.header__menu {
  margin-right: 30px;
}
.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 101px;
  text-align: right;
  /* importante ver que a causa del margin, el menu desplegable no funciona */
  margin: 0px 0px 0px -13px;
}
.header__menu:hover ul,
ul:hover {
  display: block;
}
.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu--profile {
  display: flex;
  margin-right: 8px;
  align-items: center;
}
.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}
.header__menu--profile p {
  margin: 0px;
  color: white;
}
/* Header y barra de navegacion */

/* Título y el buscador */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}
.main__title {
  color: white;
  font-size: 25px;
}
.categories__title{
  font-size: 10px;
  position: relative;
  top: 60px;
  left: 30px;
  color: white;
}
.input {
  height: 30px;
  width: 70%;
  border: 2px solid white;
  border-radius: 25px;
  font-family: "Mulish", sans-serif;
  outline: none;
  padding: 4px 15px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}
::placeholder {
  color: rgb(255, 255, 255);
}
/* Carrucel */
.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}
.carousel__container {
  margin: 70px 0px;
  white-space: nowrap;
  padding-bottom: 10px;
}
.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: blue;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms;
  transform-origin: center left;
}
/* hacer el zoom a los divs */
.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0px);
}
.carousel__container:hover .carousel-item {
  opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

/* estilizar los items del carrucel */
.carousel-item {
  position: relative;
}
.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carousel-item__details {
  color: white;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 8px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.carousel-item__details:hover {
  opacity: 1;
}
.carousel-item__details img {
  width: 15px;
  margin: 2px;

}
/* footer */
.footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #020201;
}
.footer > a {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}
.footer > a:hover {
  text-decoration-line: underline;
}